@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.bg-print{
    background-image: url(./assets/images/bg-print-2.jpg);
    background-size: cover;
    background-repeat:repeat;
    background-position: center;

}

.font-nunito{
    font-family: 'Nunito', sans-serif;
}

.font-roboto{
    font-family: 'Roboto', sans-serif;
}