@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


.content-layer {
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  background-color: rgba(44, 0, 62, 0.3); /* dark purple with transparency */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.font-nunito{
    font-family: 'Nunito', sans-serif;
}

.font-roboto{
    font-family: 'Roboto', sans-serif;
}